# Ignore everything by default
**/*

# Include only the compiled outputs and artifacts
!dist/**
!media/search-icon.svg
!media/logo.png
!package.json
!README.md
!CHANGELOG.md
!LICENSE.txt

# Ensure parent directories are not ignored
!dist/
!media/

# Exclude source maps
dist/**/*.map